﻿{% load static %}

<html>
<head>
    <title>YABA</title>
    <link rel="stylesheet" href="{% static "main/css/style.css" %}">
</head>
<body>
    <div class="grid-container">
        <div class="content">
            <div id="setup" class="tab">
                <h1>YABA Setup</h1>
                <div class="tabcontent">
                    <p>
                        Hello, welcome to YABA!
                        <br />
                        To begin, please enter your Oracle Database details using the form below:
                    </p>
                    <form id="setup-form" class="setup-form" method="post">
                        {% csrf_token %}
                        <div class="form-setup" id="st-form">
                            <label class="input-label">Source</label>
                            <select name="source" class="input" id="setup-source">
                                <option value="oracle">Oracle Database</option>
                            </select><br />

                            <label class="input-label">Target</label>
                            <select name="target" class="input" id="setup-source">
                                <option value="databricks">Azure Databricks</option>
                            </select><br />

                            <p class="st-arrow">
                                <img class="st-img" src="{% static "main/images/st/oracle.png" %}">
                                &nbsp;➤&nbsp;
                                <img class="st-img" src="{% static "main/images/st/databricks.png" %}">
                            </p>

                        </div>
                        <div class="form-setup" id="oracle-form">

                            <label class="input-label">Hostname</label>
                            <input class="input" name="hostname" type="text"><br />

                            <label class="input-label">Port</label>
                            <input class="input" name="port" type="text" value="1521"><br />

                            <label class="input-label">Database</label>
                            <input class="input" name="database" type="text"><br />

                            <label class="input-label">User</label>
                            <input class="input" name="user" type="text"><br />

                            <label class="input-label">Password</label>
                            <input class="input" name="password" type="password" required><br />

                            <label class="input-label">Schema</label>
                            <input class="input" name="schema" type="text"><br />

                        </div>
                        <div style="overflow:auto;">
                            <button type="button" class="button submit" id="form-next" onclick="next_form()">Next</button>
                            <button type="button" class="button submit" id="form-previous" onclick="previous_form()">Back</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="info" class="tab">
                <h1>Info & Contacts</h1>
                <div class="tabcontent">
                    <p style="text-align:center">YABA was brought to you by</p>
                    <a href="http://linkredglue.com/" target="_blank"><img class="redglue-logo" src="{% static "main/images/redglue-logo.png" %}"></a>
                    <br />
                    <br />
                    <br />
                    <p>A special thanks to the people who contributed to the project:</p>
                    <ul>
                        <li>Luís Marques</li>
                        <li>Joel Almeida</li>
                        <li>Hugo Almeida</li>
                        <li>Ricardo Cardinhos</li>
                        <li>Carlos Diniz</li>
                    </ul>
                    <br />
                    <p>If you wish to contact us please send an email to <a href="mailto:yaba@linkredglue.com?Subject=YABA%20contact" target="_top"><b>yaba@linkredglue.com</b></a></p>
                </div>
            </div>
            {% if request.POST.source and request.POST.target and request.POST.hostname and request.POST.port and request.POST.database and request.POST.user and request.POST.password and report_error == 'none' %}
            <div id="summary" class="tab">
                <h1>Report Summary</h1>
                <div class="tabcontent">
                    <div class="summary">
                        <div class="summary-score">
                            <label id="summary-percentage"></label>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="printable">
                        <div id="report-header">
                            <h1>YABA Report</h1>
                        </div>
                        <p>
                            <b>Report Source: </b>{{ request.POST.source }}
                            <br />
                            <b>Report Target: </b>{{ request.POST.target }}
                            <br />
                            <b>Report Time: </b>{{ report_time }}
                            <br />
                            <b>Report Platform: </b>{{ report_platform}}
                            <br />
                            <br />
                            <b>Oracle Host: </b>{{ request.POST.hostname }}
                            <br />
                            <b>Oracle Database: </b>{{ request.POST.database }}
                            <br />
                            <b>Oracle schema: </b>{{ request.POST.schema }}
                        </p>
                        <br />
                        <br />

                        <h2>Recommendations</h2>
                        <table border="1" class="results-table">
                            <thead>
                                <tr class="results-tr" style="text-align: right;">
                                    <th class="results-th-td">Analysis</th>
                                    <th class="results-th-td">Recommendation</th>
                                    <th class="results-th-td">Score (0-100)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tab in tabs %}
                                {% if tab.recommendation_data %}
                                {% for r in tab.recommendation_data %}
                                <tr class="results-tr">
                                    <td class="results-th-td">
                                        {{ tab.name }}
                                    </td>
                                    <td class="results-th-td">
                                        {{ r.message }}
                                    </td>
                                    <td class="results-th-td">
                                        {{ r.score }}
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <br />
                    <button class="button sidebar-button" onclick="window.print()">Print / Save as PDF</button>
                </div>
            </div>
            {% for tab in tabs %}
            {% if tab.type == 'SimpleOracleTab' %}
            <div id={{ tab.class }} class="tab">
                <h1>{{ tab.name }}</h1>
                <table border="1" class="results-table">
                    <thead>
                        <tr class="results-tr" style="text-align: right;">
                            {% for h in tab.table_data.columns %}
                            <th class="results-th-td">{{ h }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in tab.table_data.values %}
                        <tr class="results-tr">
                            {% for c in r %}
                            <td class="results-th-td">{{ c }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p>
                    {% if tab.recommendation_data %}
                    <br />
                    <br />
                    <h2>Recommendations</h2>
                    <table class="recommendations-table">
                        <tbody>
                            {% for r in tab.recommendation_data %}
                            <tr>
                                <td class="recommendations-th-td {{ r.class }}">
                                    <b>{{ r.name }}</b>
                                </td>
                                <td class="recommendations-th-td {{ r.class }}">
                                    {{ r.message }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </p>

            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
        <div class="sidebar">
            <img class="top-logo" src="{% static "main/images/logo.png" %}">
            {% if request.POST.source and request.POST.target and request.POST.hostname and request.POST.port and request.POST.database and request.POST.user and request.POST.password and report_error == 'none' %}
            <button id="summary-button" class="button sidebar-button" onclick="openTab(event, 'summary')">Summary</button>
            {% for tab in tabs %}
            <button class="button sidebar-button" onclick="openTab(event, '{{ tab.class }}')">{{ tab.name }}</button>
            {% endfor %}
            <button id="setup-button" class="button sidebar-button" onclick="openTab(event, 'setup')">Edit source/target</button>
            {% else %}
            <button id="setup-button" class="button sidebar-button" onclick="openTab(event, 'setup')">Setup</button>
            {% endif %}
            <button id="info-button" class="button sidebar-button" onclick="openTab(event, 'info')">Info</button>
        </div>
    </div>
    <div id="notification" class="notification">
        <label id="notification-label">Hello! This is a notification!</label>
        <button type="button" id="notification-button" onclick="close_notification()">Close</button>
    </div>
    <div id="loading" class="loading">
        <label id="loading-label">Loading...</label>
    </div>

    <script src="{% static "main/js/notifications.js" %}"></script>
    <script src="{% static "main/js/tabs.js" %}"></script>
    <script src="{% static "main/js/forms.js" %}"></script>
    <script src="{% static "main/js/summary.js" %}"></script>
    <script>
        {% if report_error %}
        {% if report_error != 'none' %}
        show_notification("{{ report_error }}");
        document.getElementById('setup-button').click();
        {% endif %}
        {% if report_error == 'none' %}
        document.getElementById('summary-button').click();
        show_percentage({{ score }});
        {% endif %}
        {% else %}
        document.getElementById('setup-button').click();
        {% endif %}
    </script>
</body>
</html>