﻿



html, body, .grid-container {
    height: 100%;
    margin: 0;
}

* {
    font-family: Verdana;
    font-size: 0.98em;
}

.grid-container * {
    position: relative;
}


.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar content";
}

.content {
    align-content: center;
    grid-area: content;
    padding: 3em 1em;
}

.sidebar {
    grid-area: sidebar;
    padding: 1em 2em;
}


.top-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.7em;
    margin-bottom: 1.4em;
    width: 8em;
}

.redglue-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.7em;
    margin-bottom: 1.4em;
    width: 18em;
}

.button {
    background-color:grey;
    border: 0.105em solid gray;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 16em;
    height: 3em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


    .button:hover {
        background-color:  rgb(221, 142, 102);
        color: white;

    }

    .button:focus {
        outline: none;
    }

.selected-button {
    background-color: rgb(221, 142, 102);
    color: white;
}

.tab {
    display: none;
    animation: fadeEffect 1s;
}

.tabcontent {
    border: 0.105em solid rgb(221, 142, 102);
    border-radius: 1.5em;
    padding: 1.4em 1.4em;
}

h1 {
    padding-bottom: 1.4em;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bolder;
}

h2 {
    padding-bottom: 1em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bolder;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.setup-form {
    border: 0.105em solid rgb(221, 142, 102);
    border-radius: 1.5em;
    padding: 1.4em 1.4em;
    width: 12.8em;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    width: 17em;
}

.submit {
    margin-top: 1em;
    width: 9.1em;
}

.input {
    padding: 0.5em;
    display: block;
    border: none;
    border-bottom: 0.1em solid #ccc;
    width: 100%;
}

    .input:hover {
        outline: none;
        border-bottom: 0.1em solid rgb(221, 142, 102);
    }

    .input:focus {
        outline: none;
    }

.input.invalid {
    background-color: #ffdddd;
}

.input-label {
    margin-top: 10em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.results-table {
    border-collapse: collapse;
    width: 100%;
}


th {
    background-color: rgb(221, 142, 102);
    color: white;
    text-align: center;
    height: 20px;
  }


th, td {
    height: 10px;
    border-bottom: 1px solid #ddd;
  }

tr:hover {background-color: #f5f5f5;}

.recommendations-table {
    border-collapse: collapse;
    width: 100%;
}


.ok {
    border:solid 1px #349534; 
		background:#C9FFCA;
		color:#008000;
		font-weight:bold;
		padding:4px;
		text-align:center;
}

.notok {
    border:solid 1px #DEDEDE; 
		background:#FFFFCC;
		color:#222222;
		padding:4px;
		text-align:center;
}

.form-setup {
    display: none;
}

a {
    color: #f7bc64;
}

ul {
    list-style: none
}

li::before {
    content: "➤";
    color: rgb(221, 142, 102);
    display: inline-block;
    margin-left: -1em;
    margin-right: 1em
}

.st-img {
    width: 6em
}

.st-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4040;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 1em;
    padding-top: 2em;
    color: white;
    border: 0.105em solid #466168;
    display: none;
    font-size: 1.2em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#notification-button {
    background-color: white;
    border: 0.105em solid #466168;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0.35em;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 7em;
    height: 3em;
    margin-top: 3em;
}

.summary {
    font-size: 1.0em;
}

.summary-score {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 2.0em;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(221, 142, 102);
    width: 100%;
    height: 100%;
    color: white;
    display: none;
    font-size: 1.2em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    align-items: center;
    justify-content: center;
}

#loading-label {
    opacity: 1;
    transition: opacity 0.5s;
}

.hide {
    opacity: 0 !important;
}

#report-header {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media print {
    body * {
        visibility: hidden;
    }

    .printable, .printable * {
        visibility: visible;
    }

    .printable {
        position: fixed;
        left: 5em;
        right: 5em;
        top: 0;
        font-size: 0.7em;
    }

}